.page-header {
  padding-bottom: 9px;
  margin: 10px 0 20px;
  border-bottom: 1px solid #eee;
}

.testBtnAdd {
  background: #FFA202;
  color: #FFFFFF;
}

/*
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  //background-color: #00BDF2;
  background-color: #D7D7D7;
}

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #FFFFFF;
}
*/
