.page-header {
  padding-bottom: 9px;
  margin: 10px 0 20px;
  border-bottom: 1px solid #eee;
}

.gradientBNMX {
    background: linear-gradient(180deg, #00bdf2 1.15%, #004785 90.35%);
    color: #ffffff;
}

//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
/*****************************/
/******** BTN-SUCCESS ********/
/*****************************/
.btn-success {
  background: #004785;
  color: #FFFFFF;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active {
  background-color: #00BDF2;
}

.btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .open>.dropdown-toggle.btn-success.focus, .open>.dropdown-toggle.btn-success:focus, .open>.dropdown-toggle.btn-success:hover {
  color: #004785;
  background: #F7F7F7;
  border-color: #F7F7F7;
}

/*****************************/
/******** BTN-PRIMARY ********/
/*****************************/
.btn-primary {
  background: #004785;
  color: #FFFFFF;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  color: #004785;
  background-color: #F7F7F7;
  border-color: #F7F7F7;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
  color: #004785;
  background: #F7F7F7;
  border-color: #F7F7F7;
}

//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
/*****************************/
/******** LOGO BANAMEX ********/
/*****************************/
i.fa-banamex  {
    content:"citibanamex";
    background-image:url('C:\\SOFTTEK1\\Banamex\\estilosBanamex\\riot-ui-prototype\\src\\image\\logoBanamex.jpg');

    width: 40px; //WIDTH of the icon
    height: 40px; //HEIGHT of the icon
    display: inline-block;
    background-position:middle;
    background-size:cover;
}

i.fa-bars  {
    color: #FFFFFF;
}


//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
/**********************************/
/******** BACKGROUND MENU ********/
/*********************************/
.backgroundMenu {
    //background: linear-gradient(180deg, #002D72, #00BDF2);
    //background: linear-gradient(183deg, #002D72, #00BDF2);
    background: #002D72;
}

.backgroundMenuSolid {
    background: #002D72;
    border: 3px solid #002D72;
    height: 58px;
}


//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
/*********************************/
/******** CEBRA DE TABLAS ********/
/*********************************/

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #F7F7F7;
}

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #FFFFFF;
}


//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
.clearfix {
  height: 58px !important;
}

/***********************************************/
/******** DEFINE COLOR - SCROLL SUBMENU ********/
/***********************************************/
.nav.side-menu > side-menu > li.current-page, .nav.side-menu > side-menu > li.active {
    border-right: 5px solid #00bdf2;
}

.nav-sm .nav.child_menu li.active, .nav-sm .nav.side-menu li.active-sm {
    border-right: 5px solid #00bdf2;
}

.nav-sm ul.nav.child_menu {
    left: 100%;
    position: absolute;
    top: 0;
    width: 210px;
    z-index: 4000;
    background: linear-gradient(#00bdf2, #004785), #FFFFFF;
    display: none;
}

/***********************************************/
/******** DEFINE COLOR - OPCION SUBMENU ********/
/***********************************************/
.nav.side-menu > side-menu > li.active > a {
    text-shadow: rgba(255, 255, 255, 1.0) 0 -1px 0;
    // background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00bdf2), color-stop(100%, red)), lime;
    // background: -webkit-linear-gradient(#334556, #2C4257), #2A3F54;
    // background: -moz-linear-gradient(#334556, #2C4257), #2A3F54;
    // background: -o-linear-gradient(#334556, #2C4257), #2A3F54;
    background: linear-gradient(#00bdf2, #004785), #FFFFFF;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
}

/***************************************/
/******** DEFINE COLOR - BEFORE ********/
/***************************************/
.nav-md ul.nav.child_menu li:before {
    background: rgba(255, 255, 255, 1.0);
    margin-top: 7px;
}

.nav.side-menu > side-menu > li > a, .nav.child_menu > menu-item > li > a {
    color: #FFFFFF;
    font-weight: 500;
}
